@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-lt: 85rem;
   --breakpoint-dt: 90rem;
}

input[type='radio'] {
  --input-color: #A3E635;
}

label:has(input[type='radio']:checked) {
  border-color: #A3E635;
}

@media(min-width: 768px) {
  body {
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background: #e3f4fc;
  }

}

@media(min-width: 1440px) {
  .MortageContainer {
     transform: scale(1.1)
  }

}